/* RecommendationsFeed.module.css */
.w-64 {
    width: 16rem;
    height: 16rem;
  }
  
  @keyframes orbit {
    0% {
      transform: rotate(0deg) translateX(80px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(80px) rotate(-360deg);
    }
  }
  
  .animateOrbit {
    animation: orbit 5s linear infinite;
  }